/* new workout form */
.workout__form{
  
    // position: fixed;
    @apply sticky top-0 md:top-5 md:max-h-[55vh];
    @screen md{
        width: 80%;
        @apply mx-10 order-2;
    }
    @screen lg{
        width: 50%;
       
    }
    :global{
       display: flex;
       flex-direction: column;
       text-align: center;
       @apply mt-5 mb-5 bg-primary-400 text-primary-50 p-5 shadow-lg shadow-primary-500;
       h3{
        @apply mb-5;
       }
       input{
        @apply mb-5 text-black;
       }
       button{
        @apply bg-secondary-500 w-36 py-2 mx-auto;
       }
       .error{
        @apply mt-3 border-4 border-secondary-700;
        &-msg{
            @apply border-0 w-fit mx-auto p-2 bg-secondary-600;
        }
       }
    }
}

