
.section__form{
    @apply grid h-screen place-items-center;
    // An alternative solution which better preserves 
    // the nested classes and styling is to use the global 
    // scope :global on all the nested classes when using a preprocessor like sass or less.
    :global{
        label{
            @apply text-lg font-semibold;
        }

        input[type="text"],
        input[type="password"] {
          @apply px-3 py-3 placeholder-slate-300 text-slate-600 relative rounded text-sm border border-slate-300 outline-none focus:outline-none focus:ring w-full pr-10;
        }
        
        button[type="submit"] {
          @apply mt-5 text-pink-500 border border-pink-500 hover:bg-pink-500 hover:text-white active:bg-pink-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150;
        }
        
        .button-container {
          display: flex;
          justify-content: center;
        }
        
        .login-form {
          @apply w-screen max-w-lg h-min shadow-2xl p-10;
          
        }
        
        .list-container {
          display: flex;
        }
        
        .error {
            @apply text-xs text-orange-600;
        }
        
        .title {
            @apply text-3xl mb-10 text-center ;
        }
        
        .input-container {
            @apply flex flex-col gap-3 mb-10;
       
        }

    }
}